@import "tailwindcss";

@theme {
  --color-background: #242541;
  --color-card: #2a2e54;
  --color-accent: #fbde9c;
}

body {
  margin: 0;
  background-color: var(--color-background);
  color: #c9d1d9;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  min-height: 100vh;
}
